<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change Successful</title>
    <link rel="stylesheet" href="reset.css" />
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.2/iconify-icon.min.js"></script>
  </head>
  <body>
    <!-- {% if request.user.is_authenticated %}
    <script>window.location.href = '{% url "accounts:animation" %}';</script>
    {% endif %} -->
    <div class="prompt">
      <img
        src="./Shining cube.png"
        alt="Shining cube image"
        class="cube"
        id="cube"
      />
      <div class="content">
        <img src="./tick.PNG" alt="mail icon" id="icon" />
        <p class="text">Password Changed Successfully</p>
      </div>
      <img src="./Ellipse.png" alt="Ellipse image" class="ellipse" />
    </div>
  </body>
</html>
