* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #432499;
  height: 100vh;
  font-weight: 700;
  font-family: "Space Grotesk";
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  color: #2f2d33;
}

/* Add padding to containers */
div.container {
  background-color: #fcfaff;
  width: 60%;
  height: auto;
  padding: 5% 10%;
  /* padding-left: 50px; */
  font-size: 18px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.reset {
  font-size: 30px;
  line-height: 30px;
}

b {
  font-size: 15px;
  line-height: 23px;
}

.form {
  margin-top: 8%;
  /* padding-bottom: 5%; */
}

/* Full-width input fields */
#psw-new,
#psw-confirm-new,
#email,
#psw-old {
  border: 1px solid rgba(33, 37, 41, 0.5);
  border-radius: 4px;
  outline: 0;
  padding: 4px 20px;
  background-color: #ffffff;
  width: 100%;
  line-height: 28px;
  font-size: 14px;
  color: #2f2d33;
  /* margin-top: 1%; */
}

form {
  margin: 5% auto;
  width: 60%;
  height: 50%;
}

.btns {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
  margin-top: 30%;
  gap: 20%;
  justify-content: center;
}

.btn1,
.btn2 {
  padding: 4px 15px;
  line-height: 28px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #432499;
  text-decoration: none;
  /* width: 25%; */
}

.btns .btn1 {
  color: white;
  background: #432499;
}

.btns .btn2 {
  background: white;
  color: #432499;
}

.btn1:hover {
  transition: 0.5s;
  background: #9a7fd8;
}

.btn2:hover {
  transition: 0.5s;
  background: #cac4c4;
}

p {
  font-size: 18px;
  line-height: 24px;
  /* margin-bottom: 15%; */
}

#reset {
  /* font-weight: 600; */
  margin-bottom: 15%;
}

a {
  color: #432499;
  text-decoration: none;
  padding-left: 5px;
}

#forgot {
  text-align: right;
  font-size: 16px;
  padding: 1%;
}

.cube {
  position: absolute;
  top: 0px;
  left: 28%;
  z-index: -1;
  max-width: 197px;
  max-height: 172px;
}

.ellipse {
  position: absolute;
  bottom: 49px;
  right: 0px;
  z-index: -1;
  /* max-width: 120%; */
  max-height: 420px;
  mix-blend-mode: overlay;
}

/* PROMPTS */

.prompt {
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 10% auto;
  padding: 2%;
  width: 20%;
  height: 60%;
  border-radius: 25px;
}

#icon {
  background-color: #ede3ff;
  padding: 10%;
  border-radius: 50%;
  width: 48%;
  height: 50%;
  /* margin-top: 20%; */
  margin: 5% auto;
}

.error {
  background-color: #ffe3e3;
}

.text {
  margin-top: 5%;
  font-size: 14px;
  text-align: center;
  font-family: "Space Grotesk";
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

#cube {
  top: 55px;
  left: 36%;
}

@media (max-width: 1260px) {
  .reset {
    font-size: 25px;
  }

  #reset {
    font-size: 15px;
  }

  .btns {
    gap: 10%;
  }
}

@media (max-width: 1260px) {
  .btns {
    gap: 19%;
  }

  .btn1,
  .btn2,
  #psw-new,
  #psw-confirm-new,
  #email,
  #psw-old {
    padding: 5px 20px;
    line-height: 28px;
    border-radius: 4px;
    font-size: 14px;
  }

  form {
    margin: 12% auto;
    width: 80%;
  }

  .cube {
    top: 50px;
    left: 20%;
  }

  .ellipse {
    bottom: 25%;
  }

  .prompt {
    height: 40%;
  }
}

@media (max-width: 1024px) {
  #forgot {
    font-size: 9px;
    width: 100%;
  }
}

@media (max-width: 921px) {
  .ellipse {
    bottom: 10%;
    max-height: 380px;
  }

  form {
    margin: 22% auto;
    width: 80%;
  }
  .cube {
    top: 100px;
    left: 20%;
  }

  .prompt {
    height: 45%;
    margin: 20% auto;
    width: 45%;
    padding: 5%;
  }

  #cube {
    top: 68px;
    left: 20%;
  }

  .text {
    font-size: 18px;
  }
}

@media (max-width: 780px) {
  #forgot {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .ellipse {
    bottom: 10%;
    max-height: 430px;
  }

  form {
    margin: 15% auto;
    width: 90%;
  }

  .cube {
    top: 40px;
    left: 15%;
  }
}

@media (max-width: 550px) {
  .cube {
    top: 0px;
    left: 0%;
  }
  .ellipse {
    max-height: 320px;
  }

  form {
    width: 100%;
    margin: 20% auto;
  }

  div.container {
    width: 80%;
  }

  .reset {
    font-size: 30px;
    line-height: 30px;
    margin-top: 5%;
  }

  b {
    font-size: 15px;
    line-height: 23px;
  }

  #reset {
    font-size: 14px;
    line-height: 35px;
  }

  .btns {
    gap: 10%;
    margin-top: 20%;
  }

  .btn1,
  .btn2,
  #psw-new,
  #psw-confirm-new,
  #email,
  #psw-old {
    padding: 5px 18px;
    line-height: 28px;
    border-radius: 4px;
    font-size: 14px;
  }

  .prompt {
    height: 45%;
    margin: 30% auto;
    width: 55%;
    padding: 6%;
  }

  #icon {
    padding: 12%;
    width: 58%;
    margin: 5% auto;
  }

  .text {
    font-size: 14px;
  }

  #cube {
    top: 48px;
    left: 10%;
  }
}

@media (max-width: 450px) {
  .reset {
    font-size: 25px;
  }

  b {
    font-size: 12px;
  }

  #psw-new,
  #psw-confirm-new,
  #email,
  #psw-old, .btn1,
  .btn2 {
    font-size: 10px;
    padding: 5px 10px;
  }

  .prompt {
    width: 70%;
    height: 55%;
  }

  #cube {
    top: 40px;
    left: 5%;
  }
}


